#searchWrap{
	font-size: 14px;
	margin: 0 auto;
    width: 1200px;
    margin-top: 30px;
}
#searchWrap #priceMin,#searchWrap #priceMax{
    margin:0 5px;
}
#searchWrap input[type=radio]{
    margin-right: 5px;
}
#searchWrap .btnWrap{
    margin: 0 auto;
    width: 194px;
}
#searchWrap .searchBtn,#searchWrap .randomRecBtn{
    background: none repeat scroll 0 0 #2DC3C8;
    border-radius: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    text-decoration: none;
    width: 60px;
    margin-right:10px;
}
#searchWrap .randomRecBtn{
    width: 114px;
}
#searchWrap  .randomRecBtn{
    color: #ccc;
    cursor: default;
}
#searchWrap .searchCondition li{
	float: left;
	margin-right: 15px;
    clear: both;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 378px;
}
#searchWrap .searchCondition label{
	font-weight: bold;
}
.searchResWrap{
	margin-top: 20px;
}
.searchResWrap .searchResHead{
	text-align: center;
	font-size: 16px;
	height:24px;
	line-height: 24px;
	font-family: "Microsoft Yahei";
}
.searchResWrap .searchResHead span{
		background: #eee;
}
.searchResWrap .lineName{
	float: left;
	width:500px;

}
.searchResWrap .linePri{
	float: left;
	width:100px;
}
.searchResWrap .lineHash{
	float: left;
	width:100px;
}
.searchResWrap  .searchResCont{
	text-align: center;
}
.searchResWrap  .searchResCont li{
	float: left;
	height:24px;
	line-height: 24px;
}
.searchResWrap  .someData li:nth-child(2n),.searchResWrap  .moreData li:nth-child(2n+1){
	background: #ddd;

}
.searchResWrap  .searchResCtrlBtn{
	/*float: right;*/
}
#templateWrap,#dataWrap{
	display: none;
}
