body{
  width:500px;
  margin: 0 auto;
}
#inputWrap h2{
   font-weight: bold;
    height: 30px;
    line-height: 30px;
}
#lineWidth{
  width: 28px;
  margin-right: 5px;
}
#lineWidth:focus{
  outline: 1px solid #66D9EF;
}
.toolBarWrap li{
  float:left;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}
.toolBarWrap li dt,.toolBarWrap li dd{
  float: left;
  margin-right: 5px;
}
[data-color]{
  float: left;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
[data-color="#f00"]{
  background-color:#f00; 
}
[data-color="#0f0"]{
  background-color:#0f0; 
}
[data-color="#00f"]{
  background-color:#00f; 
}

#inputCanvas{
  margin-top: 10px;
  border:2px solid #ddd;
}

#outputImg{
  width: 200px;
  height: 200px;
  display: block;
}

#outputWrap{
  margin-top: 10px;
}

