/* default:box takes 220 width */
.box{
	font-size: 12px;
	color:#333;
}
.box-head{
	padding: 0 10px;
	height: 34px;
	line-height:34px; 
	width:200px;
	font-size: 14px;
	font-weight: bold;
	background-color: #ddd;
}
.box-head-subTitle{
	color:#999;
	font-size: 12px;
	font-weight: normal;
}
.box-closeBtn{
	cursor: pointer;
	float: right;
}
.box-content{
	padding: 10px;
	width:198px;
	border:1px solid;
	border-top: none;
	border-color: #ddd;
}

.noHeadBox .box-content{
	border-top: 1px solid #ddd;
}

/* box的皮肤 start */
.orangeBox .box-head{
	background-color: #F49B28;
}
.orangeBox .box-content{
	border-color: #F49B28;
}
/* box的皮肤 end */

/* 各种尺寸的box start */
.width500Box .box-head{
	width:480px;
}
.width500Box .box-content{
	width:478px;
}
/* 各种尺寸的box end */

/* 各种contentPadding的box 与width有关 start */
.pad500-20Box .box-head{
	width:480px;
}
.pad500-20Box .box-content{/*500为盒子原本的宽度，20为content的padding */
	padding: 20px;
	width:458px;
}

/* 各种contentPadding的box end */

/* 各种boder-size的box 与width，padding有关 start */
.border500-10-2Box .box-head,.border500-20-2Box .box-head{
	width:480px;
}
.border500-10-2Box .box-content{/*500为盒子原本的宽度，10为content的padding,2为盒子的border宽度 */
	padding:10px;
	border-width:2px; 
	width:476px;
}
.border500-20-2Box .box-content{/*500为盒子原本的宽度，10为content的padding,2为盒子的border宽度 */
	padding: 20px;
	border-width:2px; 
	width:456px;
}

/* 各种boder-size的box end */

/* 主题的box start */
.mainBox{/*width760*/

}
.mainBox .box-head{
	border-radius: 5px 5px 0 0;
	width:740px;
	font-size: 16px;
}
.mainBox .box-content{
	width:738px;
}

/* 主题的box end */


/* menuBox start */
.menuBox{

}
.menuBox .box-head{
	font-size: 16px;
}
.menuBox .box-content{
	width:218px;
	padding: 0;
	line-height: 20px;
}
.menuBox .box-subMenuName{
	background-color: #F49B28;
	font-size: 12px;
	padding: 0 10px;
	height: 22px;
	line-height: 22px;
}
.menuBox .box-menuItem{
	padding: 0 15px;
	height:20px;
	cursor: pointer;
}
.menuBox .box-menuItem:hover{
	color:#fff;
	background-color: #00f;
}
.menuBox .box-menuItem a:hover{
	text-decoration: none;
}

/* menuBox end */


