#middleCont{
	width: 980px;
	margin: 0 auto 10px;
}
.thumbnail img{
	width: 300px;
	height: 200px;
}
.thumbnail .label-info{
	margin-right: 10px;
}
#prodDetail{
	width: 600px;
	height: 460px;
}
#prodDetail img{
	display: block;
	width: 300px;
	height: 200px;
}
#prodDetail dt,#prodDetail dd{
	float: left;
	display: inline;
}
#prodDetail dt{
	margin-right: 5px;
}
#prodDetail .label-info{
	margin-right: 10px;
}

#publishProd{
	width: 516px;
}
#publishProd label{
	display: inline;
}
#publishProd dl{
	margin-bottom: 10px;
}
#publishProd dt,#publishProd dd{
	float: left;
	display: inline;
    line-height: 30px;
}
#publishProd dt{
	margin-right: 5px;
	width: 70px;
}
#publishProd .necessIcon{
	color:#f00;
	margin-right: 3px;
}
#publishProd input[type="file"]{
	font-size: 19px;
}
#publishProd .box-cont{
	height: 400px;
	overflow-y:auto; 
}
#publishProd .item{
	margin-bottom: 10px;
}
#publishProd input{
	margin-bottom: 0;
}
#publishProd input[type="radio"], #publishProd input[type="checkbox"]{
	margin: 0;
	margin-right: 3px;
}
#publishProd .tip{
	margin-left: 5px;
	color: #999;
}
#publishProd .errMsg{
	margin-left: 5px;
	color: #f00;
}