/*
* 组件typeahead.js的样式。
* 坑爹发现该项目只有js，无css。。。
* 是在http://twitter.github.io/typeahead.js/examples/ 的基础上做了修改
* 项目 https://github.com/twitter/typeahead.js
*/
.tt-dropdown-menu{
    text-align: left;
}
.typeahead,
.tt-query,
.tt-hint {
    height: 30px;
    padding: 8px 5px;
    font-size: 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-dropdown-menu {
    width: 224px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
