<header>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="searchWrap fr">
			<input type="text" id="searchInput"/>
			<a href="javascript:void(0);" id="searchProdBtn" class="btn btn-small btn-primary"><i class="icon-search mr5 icon-white"></i>搜&nbsp;索</a>
		</div>
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav nav-pills">
				    <li><a href="/homePage">首页</a></li>
				    <li><a href="javascript:void(0);" class="publishProdHref">发布宝贝</a></li>
				    <li><a href="javascript:void(0);" class="aboutUsHref">关于我们</a></li>
				</ul>
			</div>
		</div>
	    <div class="exploreTip alert none">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    <strong>注意!</strong> 为了更好的体验，请用firefox，chrome等浏览器
    	</div>
	</div>
</header>
	