!!!5
html
	head
		meta(charset='UTF-8')
		title = '九彩跳蚤市场，发现二手好东西！'
		link(rel='stylesheet',href='/css/base.css')
		link(rel='stylesheet',href='/css/bootstarp/bootstrap.min.css')
		link(rel='stylesheet',href='/css/common.0.1.css')
		link(rel='stylesheet',href='/css/homePage.0.1.css')
	body
		header
			div.navbar.navbar-inverse.navbar-fixed-top
				div.searchWrap.fr
					input#searchInput(type='text')
					a#searchProdBtn.btn.btn-small.btn-primary(href='javascript:void(0);')
						i.icon-search.mr5.icon-white 
						搜索
				div.navbar-inner
					div.container
						ul.nav.nav-pills
							li
								a.publishProdHref(href='javascript:void(0);')
									发布宝贝
							li
								a.aboutUsHref(href='javascript:void(0);')
									关于我们
				div.exploreTip.alert.none
					button.close(data-dismiss='alert',type='button')
						×
					strong
						注意!
					为了更好的体验，请用firefox，chrome等浏览器
		div#content
			div#middleCont
				ul.thumbnails
					each prod, key in prodData
						li.span4
							div.thumbnail.clearfix
								if prod.imgSrc
									img(src=prod.imgSrc)
								else
									img(data-src='holder.js/300x200/text:暂无图片')
								h3
									|#{prod.name}
								p
									each labelVal,labelKey in prod.label.split(",")
										span.label.label-info #{labelVal}
								a.btn.btn-primary.fr.getDetailBtn(data-prodId = key)
									详情

			<!-- 弹出的宝贝详情 start  -->
			div#prodDetail.popupBox(style='display:none;')
				div.boxHeader.clearfix
					a.closeBtn.fr(title='关闭',href='javascript:void(0);')
						×
					div.header-text
						宝贝详情
				div.textDes
					img
					h3.prodName
					p.prodLabelWrap
					p.describe
					dl.clearfix
						dt
							主人昵称
						dd.ownerName
					dl.clearfix
						dt
							联系方式
						dd.contractInfo
			<!-- 弹出的宝贝详情 end  -->	
			<!-- 弹出的关于我们 start  -->
			div#aboutUs.popupBox(style='display:none;')
				div.boxHeader.clearfix
					a.closeBtn.fr(title='关闭',href='javascript:void(0);')
						×
					div.header-text
						关于我们
				p
					我是一只前端攻城狮。做这个网站的初衷是为了处理家里的一些二手品。
				p
					对该网站的不满或赞扬，请邮箱至
					a(href='mailto:iamjoel007@gmail.com',target='_blank')
					iamjoel007@gmail.com
					,或qq:570491525 ^-^
			<!-- 弹出的关于我们 end  -->
			<!-- 弹出的发布宝贝 start  -->
			form(action='/publishProd',type='post')
				div#publishProd.popupBox(style='display:none;')
					div.boxHeader.clearfix
						a.closeBtn.fr(title='关闭',href='javascript:void(0);')
							×
						div.header-text
							发布宝贝
					div.box-cont
						dl.clearfix
							dt
								宝贝图片
							dd
								ul
									li.item
										input(type='radio',name='picType',checked='checked')
										选择文件
										input.ml10(type='file',name='productImgFile')
									li.item
										input(type='radio',name='picType')
										图片url
										input.ml10(type='text',name='productImgUrl',disabled='disabled',value='http://')
						dl.clearfix
							dt
								span.necessIcon
								label
									宝贝名	
							dd
								input(type='text')
								span.errMsg.none
						dl.clearfix
							dt
								label
									标签名	
							dd
								input(type='text')
								span.tip
									多个标签间以逗号分隔
						dl.clearfix
							dt
								span.necessIcon
								label
									宝贝描述	
							dd
								textarea
								span.errMsg.none
						dl.clearfix
							dt
								span.necessIcon
								label
									主人昵称	
							dd
								input(type='text')
								span.errMsg.none
						dl.clearfix
							dt
								span.necessIcon
								label
									联系方式	
							dd
								ul
									li.item
										input(type='checkbox',name='contractType',checked='checked')
										手机
										input.ml10.mobileInput(type='text')
									li.item
										input(type='checkbox',name='contractType')
										qq
										input.ml10(type='text',disabled='disabled')
								span.errMsg.phoneErr.none
						div.tc
							button#publishProdBtn.btn.btn-success.btn-large(type='submit')
								提交
			<!-- 弹出的发布宝贝 end  -->
	
		footer.footer
			|Designed and coding by Joel.
		script(type='text/javascript')
			var data =  JSON.parse('!{prodDataStr}');//!防止对""进行编码
		script(type='text/javascript',src='../js/holder.js')
		script(type='text/javascript',src='../js/jquery-1.7.1.js')
		script(type='text/javascript',src='../js/bootstrap.min.js')
		script(type='text/javascript',src='../js/pupup.js')
		script(type='text/javascript',src='../js/homePage.0.1.js')



	
		

